DATABASE_URL=postgres://philomena:<postgres password>@localhost:5432/philomena_db

LISTEN_ON=127.0.0.1:8090
PHILOMENA_SECRET=<philomena secret key>
STATIC_HOST=<cdn static host>

CAMO_HOST=<camo url>
CAMO_KEY=<camo key>

DATA_ROOT=./data

PASSWORD_PEPPER=<password pepper>

POSTGRES_PASSWORD=<postgres password>
POSTGRES_USER=philomena
POSTGRES_DB=philomena_db